@model IEnumerable<WebMvc.Application.Models.MediaEntry>

<main>
    <div class="content">
        <div class="grid-container">
            @foreach (var file in Model)
            {
                <div class="grid-item" onclick="openModal('/FullCringe/@file.PreviewIconPath', '@file.Name')">
                    <img src="/Cringe/@file.PreviewIconPath" alt="text" class="grid-item-content">
                    @file.Name
                </div>
            }
        </div>
    </div>
</main>

<div id="myModal" class="modal">
    <span class="close" onclick="closeModal();">&times;</span>
    <img class="modal-content" id="modalImage">
</div>

@* <ul> *@
@*     @foreach (var file in Model) *@
@*     { *@
@*         <li> *@
@*             <div> *@
@*                 @file.PreviewIconPath @file.Name - @file.Size *@
@*             </div> *@
@*         </li> *@
@*     } *@
@* </ul> *@